<<div class="col-xl-2">

                                    <div class="card card-strategies"  data-filter="Otimista LimitadoProfit LimitadoLoss Recebe 2">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-2">
                                                <img src="{% static 'assets/img/bps.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Bull Put Spread</h5>
                                        </div>
                                    </div>

                                    <div class="card card-strategies"   data-filter="Pessimista LimitadoProfit LimitadoLoss Recebe 2">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-2">
                                                <img src="{% static 'assets/img/bcs.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Bear Call Spread</h5>
                                        </div>
                                    </div>

                                    <div class="card card-strategies" data-filter="Otimista LimitadoProfit IlimitadoLoss Recebe 1">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/ds.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Dividendo Sintético</h5>
                                        </div>
                                    </div>

                                    <div class="card card-strategies" data-filter="Pessimista LimitadoProfit IlimitadoLoss Recebe 3">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/fence.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Fence</h5>
                                        </div>
                                    </div>


                                    <div class="card card-strategies" data-filter="Otimista LimitadoProfit IlimitadoLoss Recebe 2">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/ds.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Financiamento</h5>
                                        </div>
                                    </div>

                                    <div class="card card-strategies" data-filter="Otimista LimitadoProfit IlimitadoLoss Recebe 4">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/ds.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Booster (Double Up)</h5>
                                        </div>
                                    </div>


                                    <div class="card card-strategies" data-filter="Otimista IlimitadoProfit LimitadoLoss Recebe 4">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/cbs.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Call Backspread</h5>
                                        </div>
                                    </div>


                                    <div class="card card-strategies" data-filter="Otimista IlimitadoProfit LimitadoLoss Paga 1">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/ds.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Long Call</h5>
                                        </div>
                                    </div>


                                    <div class="card card-strategies" data-filter="Otimista LimitadoProfit LimitadoLoss Recebe 3">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/bps.png'%}" style="width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Zero Cost Collar</h5>
                                        </div>
                                    </div>


                                    <div class="card card-strategies" data-filter="Otimista Pessimista IlimitadoProfit LimitadoProfit LimitadoLoss IlimitadoLoss Recebe Paga 1 2 3 4">
                                        <div class="card-body" style="padding: 0;">
                                            <div class="card-icon mb-4">
                                                <img src="{% static 'assets/img/custom_strat.png'%}" style="border-radius: 50%;width: 70%; height: 100%;">
                                            </div>
                                            <h5 class="card-title mb-0">Customized Strategy</h5>
                                        </div>
                                    </div>
                        </div>

                            <div class="invoice-actions-btn">
                                <div class="invoice-action-btn">
                                    <div class="row">
                                        <div class="card-strategies-recommended" data-filter="Otimista Pessimista IlimitadoProfit LimitadoProfit LimitadoLoss IlimitadoLoss Recebe Paga 1 2 3 4">
                                            <div class="card-body" style="padding-top: 10px; padding-bottom: 0px;">
                                                <div class="card-icon mb-4">
                                                    <img src="{% static 'assets/img/custom_strat.png'%}" style="border-radius: 50%;width: 30%; height: 30%;">
                                                </div>
                                                <h6 class="card-title mb-0" style="font-size: 15px">Customized Strategy</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>