{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}

{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Mind | Estruturas Salvas </title>
    <link href="{% static 'assets/css/loader_light.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/loader_dark.css'%}" rel="stylesheet" type="text/css" />
    <script src="{% static 'assets/js/loader.js'%}"></script>
    <!-- /ENABLE LOADERS -->

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="{% static 'assets/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/structure_light.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/main_light.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/perfect-scrollbar.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/modal.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/dash_1.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/tabs.css'%}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css">
    <link href="{% static 'assets/css/datatables.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom_dt_custom.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/dt-global_style_light.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/invoice-preview.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom-fullcalendar-light.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom-autoComplete.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/monokai-sublime.css'%}" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="{% static 'assets/css/plugins_light.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom-fullcalendar-light.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/bsStepper.min.css'%}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/custom-bsStepper.css'%}" rel="stylesheet" type="text/css" />
    <!-- <link href="{% static 'assets/css/custom-fullcalendar-dark.css'%}" rel="stylesheet" type="text/css" /> -->
    <!-- END GLOBAL MANDATORY STYLES -->

    
    <link href="{% static 'assets/css/crud_check.css' %}" rel="stylesheet" type="text/css" />
    <style>
      ::selection {
  background-color: transparent;
  color: #1b55e2;
  }
  </style>

    
   
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/table-basic.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'assets/css/scrollspyNav.css' %}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/datatables.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/filters/checkfilter.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dt-global_style_light.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/css/dt-global_style_dark.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vessel_table_light.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/css/vessel_table_dark.css' %}"> -->


{% endblock %}

    ###Dash Analytics
    {% block active-dash_analytics-key_users %} data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-dash_analytics-key_users %} class="collapse submenu list-unstyled" {% endblock %}




    ###Alianca App
    {% block active-alianca_app-key_users %}data-active="false" data-toggle="collapse" aria-expanded="false" {% endblock %}
    {% block show-alianca_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}



    ###Manager App
    {% block active-manager_app-key_users %}data-active="true" data-toggle="collapse" aria-expanded="true" {% endblock %}
    {% block show-manager_app-key_users %} class="collapse submenu list-unstyled"{% endblock %}
    {% block active_manager_app-key_users %} active {% endblock %}

  


    {% block stored_structures-key_users %} color:#4361ee {% endblock %}

{% block content %}

<div class="layout-px-spacing" style="margin-top: 25px;">
    
    
    
    <div class="middle-content container-xxl p-0">
        <div class="row">
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-chart-three">
                    <div class="widget-heading">
                        <div class="">
                            <h5 class="">Monitor de Sentimento</h5>
                        </div>
                    </div>
        
                    <div class="widget-content">
                        <div id="uniqueVisits" style="min-height: 365px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12 layout-spacing">
                <div class="widget widget-activity-five">

                    <div class="widget-heading">
                        <h5 class="">Últimas Estruturas(Logs)</h5>

                    </div>

                    <div class="widget-content">

                        <div class="w-shadow-top"></div>

                        <div class="mt-container mx-auto">
                            <div class="timeline-line">
                                {% for strat in df_to_timeline%}
                                <div class="item-timeline timeline-new">
                                    <div style="display: flex;justify-content: center;width: 32px;">
                                        <div class=""><img src="{% static 'assets/img/'|add:strat.2|add:'.png' %}" style="border-radius: 50%;width: 140%; height: 100%;"></div>
                                    </div>
                                    <div class="t-content" style="margin-left: 24px;">
                                        <div class="t-uppercontent">
                                            <h5>{{strat.1}} em {{strat.2}}</h5>
                                        </div>
                                        <p>Vencimento em {{strat.6}}</p>
                                    </div>
                                </div>
                                {% endfor %}
                                                                    
                            </div>                                    
                        </div>

                        <div class="w-shadow-bottom"></div>
                    </div>
                </div>
            </div>

        </div>

        {% for input in unique_structures%}
        
        <div class="invoice-actions-btn" style="margin-bottom: 25px;">
                <div class="widget-header">
                    <div class="row">
                        <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                            <h4 style="color: #3b3f5c;
                            font-size: 17px;
                            font-weight: 600;
                            margin: 0;
                            padding: 16px 15px;
                            padding-bottom: 30px;
                            padding-top: 0px;
                            ">Estrutura Salva {{input}}</h4>
                        </div>
                        <button onclick="eraseStructure('{{input}}', this)" style="margin-left: 20px;margin-bottom: 15px;" class="col-xl-1 btn btn-danger mb-3 me-4 _effect--ripple waves-effect waves-light">Delete</button>
                    </div>
                </div>
                <div class="invoice-action-btn">

                    <div class="row">
                        <div class="volatility-product-table-section">
                            
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="">
                                        <tr>
                                            <th scope="col">Strategy</th>
                                            <th scope="col">Underlying Asset</th>
                                            <th scope="col">Action</th>
                                            <th scope="col">Type</th>
                                            <th scope="col">Option Ticker</th>
                                            <th scope="col">Due Date</th>
                                            <th scope="col">Strike</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Execution Price</th>
                                            <th scope="col">Actual Price</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for structure in structures_active%}
                                            {% if structure.0 == input %}
                                            <tr>
                                            <td>{{structure.1}}</td>
                                            <td>{{structure.2}}</td>
                                            <td>{{structure.3}}</td>
                                            <td>{{structure.4}}</td>
                                            <td>{{structure.5}}</td>
                                            <td>{{structure.6}}</td>
                                            <td>{{structure.7}}</td>
                                            <td>{{structure.8}}</td>
                                            <td>{{structure.9}}</td>
                                            <td>{{structure.14}}</td>
                                            </tr>
                                            {% else %}
                                            {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td></td>
                                          <td style="padding: 10px 21px 10px 21px;"></td>
                                          <td style="padding: 10px 21px 10px 21px;"></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                
        </div>
            
        
        {% endfor %}
    </div>



    <div id="loading-card" style="display: none;" class="loading-screen">
        <div class="card" style="background: transparent;border: 1px solid transparent;box-shadow: 0px 0px 20px transparent;">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="container-spinner mr-2" role="status" aria-hidden="true">
                <img src="https://lirp.cdn-website.com/8d5fe684/dms3rep/multi/opt/MIND_LOGO-147w.png" style="width: 8%; height: 100%;">
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}

{% block bottom_scripts %}

    <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
    <script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
    <!-- <script src="{% static 'plugins/table/datatable/painelShowHide.js' %}"></script> -->
  
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap_new.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <!-- <script src="{% static 'assets/js/vendors.min.js'%}"></script> -->
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/perfect-scrollbar.min.js'%}"></script>
    <script src="{% static 'assets/js/clipboard.min.js'%}"></script>
    <script src="{% static 'assets/js/custom-clipboard.min.js'%}"></script>
    <script src="{% static 'assets/js/app.js'%}"></script>
    <script src="{% static 'assets/js/breakUserName.js'%}"></script>
    
    <script src="{% static 'assets/js/contact.js'%}"></script>
    
    
    <!-- variaveis de ambiente javascript -->
    
    <script>
      let strategys_plot_data = {{strategys_plot_df|safe}};
      let df_timeline = {{df_to_timeline|safe}};

    </script>
    <script src="{% static 'assets/js/custom.js' %}"></script> <!--responsável por trazer a tabela completa-->
    <!-- END GLOBAL MANDATORY SCRIPTS -->
    


    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    
    <script src="{% static 'assets/js/waves.min.js' %}"></script>
    <script src="{% static 'assets/js/storedStructures.js'%}"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{% static 'assets/js/indexamcharts.js'%}"></script>
    <script src="{% static 'assets/js/xyam.js'%}"></script>
    <script src="{% static 'assets/js/Animatedamcharts.js'%}"></script>
    <script src="{% static 'assets/js/structuresDashboard.js'%}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    
    <!-- <script src="{% static 'assets/js/loopt_voyage_crud.js' %}"></script> -->
    
    <script src="{% static 'assets/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'assets/js/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/feather-icon.js' %}"></script>
    <script src="{% static 'assets/js/datatables.js' %}"></script>
    <script>
        
    </script>
    
    
    


{% endblock %}